#hero-container {
    display: flex;
    margin-top: 20vh;
    align-items: center;
    padding: 0;
    gap: 10vw;
    justify-content: center;
}

#hero-image-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

#hero-image {
    position: relative;
    border-radius: var(--spacing-lg);
    width: 30vw;
    opacity: 70%;
    transition: 0.5s ease;
}

#hero-image:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    opacity: 1;
}

#hero-call-to-action {
    background-color: var(--card);
    width: fit-content;
    padding: var(--spacing-xs) var(--spacing-lg);
    cursor: pointer;
    margin-top: var(--spacing-md)
}

#hero-call-to-action:hover {
    border: .5px solid var(--card);
}

@media(max-width: 1100px) {
    #hero-image {
        display: none;
    }

    #hero-container {
        justify-content: center;
    }

    #hero-container > * {
        text-align: center;
    }

    #hero-text-section {
        justify-content: center;
        align-items: center;
    }

    #hero-subtext {
        text-align: center;
    }
}

@media(max-width: 768px) {
    #hero-container {
        height: 60vh
    }
}